<script id="weeklySchedule" type="text/html">
    <div class="controls">
        <h3>Editing the week of <a href="#" data-bind="click: function() { location.hash = '#' + previousWeekDate(); location.reload() }">&laquo;</a> <span id="schedule-date" data-bind="text: longDate"></span> <a href="#" data-bind="click: function() { location.hash = '#' + nextWeekDate(); location.reload() }">&raquo;</a> <input id="date-selector" type="text" value=" select date..." data-bind="dateSelector: {}"></input></h3>
        <h4> | last saved: <span id="schedule-update-timestamp" data-bind="text: longLastUpdate"></span> | status: <span id="schedule-status" data-bind="text: is_published() ? 'published' : 'unpublished'"></span></h4>
        <p id="schedule-publish-control" class="inline-control">
            &nbsp;
            <input id="schedule-is-published" type="checkbox" data-bind="checked: is_published, button: {}"></input>
            <label for="schedule-is-published"><span class="ui-button-text" data-bind="text: publishAction">${publishAction}</span></label>
        </p>
    </div>

    <div class="schedule-headers main-ui" data-bind="template: { name: 'dateColHeader', foreach: dates }"></div>
</script>
