- content_for :content_menu do
  = render "rotation_menu.html"

%h3 Rotations

%p= link_to "Add Rotation", new_rotation_path

%table
  - @rotations.each do |rotation|
    %tr
      %td= link_to rotation.title, edit_rotation_path(rotation), :title => "Edit"
      %td= rotation.description
