%table
  %thead
    %tr
      %th Class
      %th Count
      %th Time Since Last Update
  %tbody
    %tr
      %td Assignments
      %td= @assignment_count
      %td= @assignments_last_updated ? time_ago_in_words(@assignments_last_updated) : "never"
    %tr
      %td Sections
      %td= @section_count
      %td= @sections_last_updated ? time_ago_in_words(@sections_last_updated) : "never"
