%h2 Site Administration

%ul
  %li= link_to "Site Statistics", site_statistics_path
  %li= link_to "Feedback Tickets", feedback_tickets_path
  %li= link_to "Feedback Statuses", feedback_statuses_path
