// see http://colorschemedesigner.com/#0e3221BsOw0w0 for scheme

$baseLineHeight: 18px;
$baseTextColor: #6e6f72;
$mediumTextColor: #c6c8cb;
$lightTextColor: #fefefe;
$oppositeTextColor: #f2ece9;
$altColor: #6e8e41;
$baseHeaderColor: #333333;
$baseLinkColor: #2f4462;
$baseOkayColor: #6e8a41;
$headerBackgroundColor: #333333;
$mediumBackgroundColor: #919397;
$tableHeaderBackgroundColor: #e6eae1;
$tableHeaderDarkerBackgroundColor: #C8D0BF;
$tableCellBorderColor: #cccccc;
$highlightColor: #ffe;
