// see http://colorschemedesigner.com/#0e3221BsOw0w0 for scheme

// general

$baseLineHeight: 18px
$baseTextColor: #6e6f72
$altColor: #6E8E41
$mediumTextColor: #c6c8cb
$oppositeTextColor: #f2ece9
$baseHeaderColor: #333333
$baseLinkColor: #2f4462
$baseOkayColor: #6e8a41
$headerBackgroundColor: #333333
$highlightColor: #e6eae1

*
  margin: 0
  padding: 0

body, p, h1, h2, h3, h4, h5, h6, ul, li, form, input
  font-size: 12px
  line-height: $baseLineHeight

body, p, ul, li, form, input
  font-family: Arial, Helvetica, sans-serif

body, p, h1, h2, h3, h4, h5, h6, ul, li
  background: white

body, p, li
  color: $baseTextColor

h1, h2, h3, h4, h5, h6, th
  color: $baseHeaderColor

h1, h2, h3, h4, h5, h6
  font-family: Georgia, Times, serif

h1
  font-size: 24px

h2
  font-size: 18px

h3
  font-size: 16px

p, h2, h3, h4, h5, h6, ul
  margin-bottom: 9px

h4
  margin-top: 18px

.button
  height: 27px

.left
  float: left

.right
  float: right

// layout

#logo
  width: 150px
  float: left
  background: transparent
  a
    color: white

div#header
  width: 100%
  height: 18px
  background-color: $headerBackgroundColor
  div#top-menu
    float: left
    width: 900px
    margin: auto
    ul
      list-style: none
      background: none
      float: right
      margin: 0px
      li
        background: none
        float: left
        padding: 0px 10px
        border-left: 1px solid #666666
        &:first-child
          border-left: none
        &.last
          border-right: none
        a
          color: $mediumTextColor
          text-decoration: none
          font-weight: bold
          &.current
            color: white

div#personal-wrapper
  width: 100%
  height: 18px
  background-color: white
  div#personal
    float: left
    width: 1050px
    margin: auto
    div
      background: none
      float: right
      span
        padding: 0px 10px
        &.first
          border-right: 1px solid #cccccc

#main
  padding-left: 18px

// links

a, a:visited, a:active
  color: $baseLinkColor
  text-decoration: none

a:hover
  text-decoration: underline

// lists

ul
  list-style: none

dt
  float: left
  clear: left
  width: 15%

dd
  float: left
  margin-bottom: 20px

// forms

$formLabelWidth: 200px
$formLabelMargin: 5px
$formInputBorderColor: #c4c7cb

div.form-container
  width: 900px

input
  height: $baseLineHeight
  &[type='submit']
    height: auto

form input.button
  padding: 0.4em 1em

input, textarea
  border: 1px solid
  border-color: $formInputBorderColor

form fieldset.buttons
  margin-top: 20px
  li
    line-height: 1.5 * $baseLineHeight

.inline_form
  margin: 0 0.5em

// tables

$oddRowBackgroundColor: #e6eae1
$tableCellBorderColor: #cccccc
$hoverRowBackgroundColor: #4466ff
$hoverColBackgroundColor: #c0d9d9
$hoverRowTextColor: white

div.schedule-wrapper
  position: absolute
  width: 1001px
  top: 251px
  bottom: 5px
  left: 18px
  overflow-y: auto
  overflow-x: hidden
  border-bottom: 1px solid $tableCellBorderColor

table
  border-collapse: collapse
  border-left: 1px solid $tableCellBorderColor
  border-top: 1px solid $tableCellBorderColor
  &.schedule
    float: left
    clear: left
    thead th
      text-align: center
      vertical-align: bottom
    td, th
      width: 120px
  &.wide-schedule
    width: 986px

th
  text-align: left
  font-size: 12px

td, th
  line-height: 16px
  border-bottom: 1px solid
  border-bottom-color: $tableCellBorderColor
  border-right: 1px solid
  border-right-color: $tableCellBorderColor
  padding: 0 2px
  vertical-align: top

tr
  height: 18px
  th
    background-color: white
  &.odd
    background-color: $oddRowBackgroundColor
    th
      background-color: $oddRowBackgroundColor
  &.hover
    background-color: $hoverRowBackgroundColor
    td, td a
      color: $hoverRowTextColor
    td a
      text-decoration: underline
    td.hover
      background-color: #333333

td
  font-size: 10px
  &.hover
    background-color: $hoverColBackgroundColor

table.decimal_data td
  text-align: right
  font-size: 12px

table .schedule_block
  float: left
  border: 1px solid
  padding: 0px 2px

// navigation

$navBorderColor: #777788
$navBackgroundColor: $baseLinkColor
$navLinkColor: $oppositeTextColor
$navVisitedLinkColor: $oppositeTextColor
$navHoverLinkColor: $baseLinkColor
$navHoverBackgroundColor: $oppositeTextColor
$navHoverBorderColor: #222277
$navActiveBackgroundColor: white
$navActiveBorderBottomColor: white

.navcontainer
  margin-bottom: 9px

.navlist
  padding: 1px 0
  margin-left: 0
  border-bottom: 1px solid
  border-bottom-color: $navBorderColor
  li
    list-style: none
    margin: 0
    display: inline
    a
      font-weight: bold
      padding: 3px 0.5em
      margin-left: 3px
      border: 1px solid
      border-color: $navBorderColor
      border-bottom: none
      background: $navBackgroundColor
      text-decoration: none
      -moz-border-radius-topLeft: 5px
      -moz-border-radius-topRight: 5px
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      &:link
        color: $navLinkColor
      &:visited
        color: $navVisitedLinkColor
      &:hover
        color: $navHoverLinkColor
        background: $navHoverBackgroundColor
        border-color: $navHoverBorderColor
      &.current
        color: $navHoverLinkColor
        background: $navActiveBackgroundColor
        border-bottom: 1px solid
        border-bottom-color: $navActiveBorderBottomColor

.tableNavList
  border-bottom: none

// pagination

.pagination
  float: left
  clear: both
  height: 2.5em
  margin: 1em 0
  em, span.disabled
    border: 1px solid $baseLinkColor
    display: inline-block
    margin-right: 0.3em
    padding: 0.4em 1em
    font-size: 1.1em
  span.disabled
    border-color: $mediumTextColor
    color: $mediumTextColor
  em
    background-color: $baseLinkColor
    color: $oppositeTextColor

// notes

.note
  position: relative
  float: right
  height: 16px
  .note-text
    font-size: 12px
    font-weight: bold
    margin-left: -999em
    position: absolute
    padding: 4px 5px
    background: $altColor
    color: $oppositeTextColor
  &:hover .note-text
    position: absolute
    left: 4em
    top: 0em
    z-index: 99
    margin-left: 0
    width: 110px

// fix visibility of notes in the last table row
tr:last-child
  .note .note-text
    top: -2em
  .note:hover .note-text
    top: -2em

td .note:hover .note-text
  left: 20px

// fix visibility of notes in the last table cell
td:last-child .note:hover .note-text
  left: -120px

// misc

.subheadline
  height: 2 * $baseLineHeight
  *
    float: left
  h3, .inline_form
    margin: 5px 5px 5px 0px

.current-date, .highlight
  background-color: $highlightColor

.date-label
  color: $altColor
  font-weight: normal
  height: 36px

.clickable
  cursor: pointer

// jquery ui related

.ui-datepicker-trigger
  cursor: pointer

// a hack here to allow the datepicker to show up
#ui-datepicker-div.ui-helper-hidden-accessible
  clip: auto
