// general

*
  margin: 0
  padding: 0

body, p, h1, h2, h3, h4, h5, h6, ul, li, form, input
  font-size: 12px
  line-height: 18px

body, p, ul, li, form, input
  font-family: Arial, Helvetica, sans-serif

body, p, h1, h2, h3, h4, h5, h6, ul, li
  color: #333
  background: #FFF

h1, h2, h3, h4, h5, h6
  font-family: Georgia, Times, serif

h1
  font-size: 24px

h2
  font-size: 18px

h3
  font-size: 16px

p, h2, h3, h4, h5, h6
  margin-bottom: 18px

input
  height: 18px

.button
  height: 27px

// layout

#logo
  float: left
  background: transparent
  a
    color: #fff

div#top-menu-wrapper
  width: 100%
  height: 18px
  background-color: #000033
  div#top-menu
    width: 900px
    margin: auto
    ul
      list-style: none
      background: none
      float: right
      li
        background: none
        float: left
        padding: 0px 10px
        border-right: 1px solid #666
        &.last
          border-right: none
        a
          color: #efefef
          text-decoration: none
          &.current
            font-weight: bold

div#personal-wrapper
  width: 100%
  height: 18px
  background-color: #fff
  div#personal
    width: 900px
    margin: auto
    div
      background: none
      float: right
      span
        padding: 0px 10px
        &.first
          border-right: 1px solid #ccc

#main
  padding-left: 18px

// links

a, a:visited, a:active
  color: #000099
  text-decoration: none
a:hover
  text-decoration: underline

// lists
ul
  list-style: none

// tables

!oddRowBackgroundColor = #dedede
!tableCellBorderColor = #ccc
!hoverRowBackgroundColor = #46f
!hoverColBackgroundColor = #C0D9D9
!hoverRowTextColor = #fff

table
  border-collapse: collapse
  border-left: 1px solid
  border-left-color = !tableCellBorderColor
  border-top: 1px solid
  border-top-color = !tableCellBorderColor
  &.schedule
    width: 900px

th
  text-align: left
  font-size: 12px

td, th
  line-height: 16px
  color: #000
  border-bottom: 1px solid
  border-bottom-color = !tableCellBorderColor
  border-right: 1px solid
  border-right-color = !tableCellBorderColor
  padding: 0 2px
  vertical-align: top

tr
  height: 18px
  th
    background-color: #fff
  &.odd
    background-color = !oddRowBackgroundColor
    th
      background-color = !oddRowBackgroundColor
  &.hover
    background-color = !hoverRowBackgroundColor
    td, td a
      color = !hoverRowTextColor
    td a
      text-decoration: underline
    td.hover
      background-color: #333

td
  font-size: 10px
  &.hover
    background-color = !hoverColBackgroundColor

table.decimal_data td
  text-align: right
  font-size: 12px

table .schedule_block
  float: left
  border: 1px solid
  padding: 0px 2px

// navigation

!navBorderColor = #778
!navBackgroundColor = #dde
!navLinkColor = #667
!navVisitedLinkColor = #667
!navHoverLinkColor = #000
!navHoverBackgroundColor = #aae
!navHoverBorderColor = #227
!navActiveBackgroundColor = #fff
!navActiveBorderBottomColor = #fff

.navcontainer
  margin-bottom: 9px

.navlist
  padding: 1px 0
  margin-left: 0
  border-bottom: 1px solid
  border-bottom-color = !navBorderColor
  li
    list-style: none
    margin: 0
    display: inline
    a
      font-weight: bold
      padding: 3px 0.5em
      margin-left: 3px
      border: 1px solid
      border-color = !navBorderColor
      border-bottom: none
      background = !navBackgroundColor
      text-decoration: none
      &:link
        color = !navLinkColor
      &:visited
        color = !navVisitedLinkColor
      &:hover
        color = !navHoverLinkColor
        background = !navHoverBackgroundColor
        border-color = !navHoverBorderColor
      &.current
        background = !navActiveBackgroundColor
        border-bottom: 1px solid
        border-bottom-color = !navActiveBorderBottomColor

.tableNavList
  border-bottom: none

// flash

div#flash-wrapper
  position: absolute
  top: 18px
  left: 150px
  width: 500px
  margin: auto
  div.flash
    padding: 2px
    font-weight: bold
    border-top: none !important
    background-color: #cb9
    border: 2px solid beige
    &.notice
      background-color: #9f3
      border: 2px solid #eee
    &.error
      background-color: #f99
      border: 2px solid #f00

// misc

.subheadline
  height: 3em
  *
    float: left

.inline_form
  margin: 0 0.5em

// jquery ui related

.ui-datepicker-trigger
  cursor: pointer
