body
  background: white
  font-size: 12pt

table
  border-collapse: collapse

th
  text-align: left

th img
  display: none

th, td
  border-right: 1px solid black
  border-bottom: 1px solid black

#navcontainer
  display: none

#main
  width: auto
  margin: 0 5%
  padding: 0
  border: 0
  float: none !important
  color: black
  background: transparent

.inline_form, .content_actions
  display: none
