/* common schedule elements */

@import "colors";
$pendingColor: #cc3;

div.schedule-wrapper {
  position: absolute;
  width: 1001px;
  top: 285px;
  bottom: 5px;
  left: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid $tableCellBorderColor; }

.schedule {
  float: left;
  thead th {
    background-color: $tableHeaderBackgroundColor;
    text-align: center;
    vertical-align: bottom;
      &.current-date {
        background-color: $highlightColor; }
      &.empty {
        background-color: white; } }

  td, th {
    width: 118px; }
  th.section-week {
    background-color: $mediumBackgroundColor;
    color: $lightTextColor; }
  .pending {
    color: $pendingColor; } }

.paginated-schedule {
  clear: left; }

.schedule-column-header {
  float: left;
  text-align: center;
  width: 118px;
  font-weight: bold;
  border-left: 1px solid $mediumBackgroundColor;
  padding: 2px; }

.prepended-column-header {
  clear: left;
  border-left: none; }

.appended-column-header {
  border-left: none; }

#rules-conflicts {
  float: left;
  margin-left: 20px; }
