* {
  margin: 0;
  padding: 0; }

body, p, h1, h2, h3, h4, h5, h6, ul, li, form, input {
  font-size: 12px;
  line-height: 18px; }

body, p, ul, li, form, input {
  font-family: Arial, Helvetica, sans-serif; }

body, p, h1, h2, h3, h4, h5, h6, ul, li {
  background: white; }

body, p, li {
  color: #6e6f72; }

h1, h2, h3, h4, h5, h6, th {
  color: #333333; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, serif; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

p, h2, h3, h4, h5, h6 {
  margin-bottom: 9px; }

h4 {
  margin-top: 18px; }

.button {
  height: 27px; }

#logo {
  float: left;
  background: transparent; }
  #logo a {
    color: white; }

div#header {
  width: 100%;
  height: 18px;
  background-color: #333333; }
  div#header div#top-menu {
    width: 900px;
    margin: auto; }
    div#header div#top-menu ul {
      list-style: none;
      background: none;
      float: right; }
      div#header div#top-menu ul li {
        background: none;
        float: left;
        padding: 0px 10px;
        border-left: 1px solid #666666; }
        div#header div#top-menu ul li:first-child {
          border-left: none; }
        div#header div#top-menu ul li.last {
          border-right: none; }
        div#header div#top-menu ul li a {
          color: #c6c8cb;
          text-decoration: none;
          font-weight: bold; }
          div#header div#top-menu ul li a.current {
            color: white; }

div#personal-wrapper {
  width: 100%;
  height: 18px;
  background-color: white; }
  div#personal-wrapper div#personal {
    width: 900px;
    margin: auto; }
    div#personal-wrapper div#personal div {
      background: none;
      float: right; }
      div#personal-wrapper div#personal div span {
        padding: 0px 10px; }
        div#personal-wrapper div#personal div span.first {
          border-right: 1px solid #cccccc; }

#main {
  padding-left: 18px; }

a, a:visited, a:active {
  color: #2f4462;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ul {
  list-style: none; }

dt {
  float: left;
  clear: left;
  width: 15%; }

dd {
  float: left;
  margin-bottom: 20px; }

div.form-container {
  width: 900px; }

input {
  height: 18px; }

.commit input.create, .commit input.update, input.submit {
  height: 27px;
  color: #f2ece9;
  font-weight: bold !important;
  background-color: #6e8a41;
  cursor: pointer;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px 5px !important;
  text-transform: capitalize; }

input, textarea {
  border: 1px solid;
  border-color: #c4c7cb; }

form fieldset.buttons li {
  line-height: 27px; }

.inline_form {
  margin: 0 0.5em; }

table {
  border-collapse: collapse;
  border-left: 1px solid;
  border-left-color: #cccccc;
  border-top: 1px solid;
  border-top-color: #cccccc; }
  table.schedule {
    width: 900px;
    float: left; }

th {
  text-align: left;
  font-size: 12px; }

td, th {
  line-height: 16px;
  border-bottom: 1px solid;
  border-bottom-color: #cccccc;
  border-right: 1px solid;
  border-right-color: #cccccc;
  padding: 0 2px;
  vertical-align: top; }

tr {
  height: 18px; }
  tr th {
    background-color: white; }
  tr.odd {
    background-color: #dedede; }
    tr.odd th {
      background-color: #dedede; }
  tr.hover {
    background-color: #4466ff; }
    tr.hover td, tr.hover td a {
      color: white; }
    tr.hover td a {
      text-decoration: underline; }
    tr.hover td.hover {
      background-color: #333333; }

td {
  font-size: 10px; }
  td.hover {
    background-color: #c0d9d9; }

table.decimal_data td {
  text-align: right;
  font-size: 12px; }

table .schedule_block {
  float: left;
  border: 1px solid;
  padding: 0px 2px; }

.navcontainer {
  margin-bottom: 9px; }

.navlist {
  padding: 1px 0;
  margin-left: 0;
  border-bottom: 1px solid;
  border-bottom-color: #777788; }
  .navlist li {
    list-style: none;
    margin: 0;
    display: inline; }
    .navlist li a {
      font-weight: bold;
      padding: 3px 0.5em;
      margin-left: 3px;
      border: 1px solid;
      border-color: #777788;
      border-bottom: none;
      background: #2f4462;
      text-decoration: none;
      -moz-border-radius-topLeft: 5px;
      -moz-border-radius-topRight: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .navlist li a:link {
        color: #f2ece9; }
      .navlist li a:visited {
        color: #f2ece9; }
      .navlist li a:hover {
        color: #2f4462;
        background: #f2ece9;
        border-color: #222277; }
      .navlist li a.current {
        color: #2f4462;
        background: white;
        border-bottom: 1px solid;
        border-bottom-color: white; }

.tableNavList {
  border-bottom: none; }

div#flash-wrapper {
  position: absolute;
  top: 18px;
  left: 150px;
  width: 500px;
  margin: auto; }
  div#flash-wrapper div.flash {
    padding: 2px;
    font-weight: bold;
    border-top: none !important;
    background-color: #ccbb99;
    border: 2px solid beige; }
    div#flash-wrapper div.flash.notice {
      background-color: #99ff33;
      border: 2px solid #eeeeee; }
    div#flash-wrapper div.flash.error {
      background-color: #ff9999;
      border: 2px solid red; }

.pagination {
  height: 2.5em; }
  .pagination a, .pagination em, .pagination span {
    border: 1px solid #2f4462;
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.2em 0.5em; }
  .pagination span.disabled {
    border-color: #c6c8cb;
    color: #c6c8cb; }
  .pagination em {
    background-color: #2f4462;
    color: #f2ece9; }

.subheadline {
  height: 36px; }
  .subheadline * {
    float: left; }
  .subheadline h3, .subheadline .inline_form {
    margin: 5px 5px 5px 0px; }

.current-date, .highlight {
  background-color: #e6ddda; }

.clickable {
  cursor: pointer; }

.ui-datepicker-trigger {
  cursor: pointer; }
