.left {
  float: left;
}

div.schedule-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 226px;
  bottom: 5px;
  left: 140px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

div.schedule {
  width: 862px;
}

div.schedule table {
  border: none;
}

div.schedule table td {
  vertical-align: top;
}

div#physician-groups a {
  display: block;
  text-decoration: none;
}

.schedule-headers {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  float: left;
}

div.date-label {
  color: #6e8e41;
  font-weight: normal;
  height: 36px;
}

div.column-header {
  float: left;
  text-align: center;
  width: 122px;
  font-weight: bold;
  border-left: 1px solid gray;
}

div.prepended-column-header {
  float: left;
  clear: left;
  border-left: none;
}

div.appended-column-header {
  border-left: none;
}

span.shift-title {
  font-weight: bold;
}

input.shift-week-note {
  position: absolute;
  height: 16px;
  background-color: #f9f9f9;
  left: 180px;
  width: 620px;
  padding-left: 0.5em;
  color: #aaa;
}

.shiftDay {
  width: 118px;
  min-height: 32px;
}
.shiftDay button {
  float: right;
  width: 16px;
}
.assignment {
  position: relative;
  cursor: pointer;
  width: 100px;
  overflow: hidden;
}

.assignment-indicators {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}
.note-indicator {
  background-repeat: no-repeat;
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}
.priNote {
  background-image: url("../images/pri-note.gif");
}
.pubNote {
  background-image: url("../images/pub-note.gif");
}
.pnpNote {
  background-image: url("../images/pnp-note.gif");
}
.duration-indicator {
  width: 16px;
}

#rules-conflicts-wrapper {
  position: absolute;
  left: 1038px;
  height: 500px;
  top: 244px;
  width: 200px;
}

#rules-conflicts {
  position: absolute;
  top: 30px;
  bottom: 0px;
  overflow-y: auto;
}
