/* common schedule elements */
/* constants */
div.schedule-wrapper {
  position: absolute;
  width: 880px;
  top: 232px;
  bottom: 5px;
  left: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid #cccccc; }

.schedule {
  float: left; }
  .schedule thead th {
    background-color: #e6eae1;
    text-align: center;
    vertical-align: bottom; }
    .schedule thead th.current-date {
      background-color: #ffffee; }
    .schedule thead th.empty {
      border-top: none;
      background-color: white; }
  .schedule td, .schedule th {
    width: 102px; }
  .schedule th.section-week {
    background-color: #919397;
    color: #fefefe; }
  .schedule .pending {
    color: #cccc33; }
  .schedule .schedule-row {
    height: 5em; }

.block-schedule tr:last-child .note .note-text {
  top: -0.5em; }
.block-schedule td, .block-schedule th {
  border-bottom: none; }

.wide-schedule {
  width: 864px; }

.schedule-header {
  border-left: 1px solid white;
  border-top: none; }
  .schedule-header thead th {
    border-top: 1px solid #cccccc;
    background-color: #c8d0bf; }

.schedule-row-header {
  border-left: 1px solid white;
  border-top: none; }
  .schedule-row-header thead th {
    border-bottom: 1px solid #cccccc; }

.schedule-row {
  border-top: none; }
  .schedule-row tbody th {
    vertical-align: middle;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
  .schedule-row tbody td {
    border-bottom: 1px solid #cccccc; }

.paginated-schedule {
  clear: left; }

.schedule-column-header {
  float: left;
  text-align: center;
  width: 102px;
  font-weight: bold;
  border-left: 1px solid #919397;
  padding: 2px; }

.prepended-column-header {
  clear: left;
  border-left: none; }

.appended-column-header {
  border-left: none; }

.mini-calendar-block {
  float: left;
  margin-bottom: 9px;
  clear: left; }

.mini-calendar {
  font-weight: bold;
  float: left;
  margin-right: 18px; }
  .mini-calendar table {
    font-family: monospace; }
  .mini-calendar thead tr th {
    background-color: #e6eae1; }
  .mini-calendar .schedule-published {
    background-color: #6e8a41; }
    .mini-calendar .schedule-published a {
      color: white; }
  .mini-calendar .current-date {
    padding: 0 0 2px 0;
    background-color: #2f4462;
    color: white; }

#rules-conflicts {
  float: left;
  margin-left: 20px; }
