/* common schedule elements */
div.schedule-wrapper {
  position: absolute;
  width: 1001px;
  top: 285px;
  bottom: 5px;
  left: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid #cccccc; }

.schedule {
  float: left; }
  .schedule thead th {
    background-color: #e6eae1;
    text-align: center;
    vertical-align: bottom; }
    .schedule thead th.current-date {
      background-color: #ffffee; }
    .schedule thead th.empty {
      border-top: none;
      background-color: white; }
  .schedule td, .schedule th {
    width: 118px; }
  .schedule th.section-week {
    background-color: #919397;
    color: #fefefe; }
  .schedule .pending {
    color: #cccc33; }
  .schedule .schedule-row {
    height: 5em; }

.block-schedule td, .block-schedule th {
  border-bottom: none; }

.schedule-header {
  border-left: 1px solid white;
  border-top: none; }
  .schedule-header thead th {
    border-top: 1px solid #cccccc;
    background-color: #c8d0bf; }

.schedule-row-header {
  border-left: 1px solid white;
  border-top: none; }
  .schedule-row-header thead th {
    border-bottom: 1px solid #cccccc; }

.schedule-row {
  border-top: none; }
  .schedule-row tbody th {
    vertical-align: middle;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
  .schedule-row tbody td {
    border-bottom: 1px solid #cccccc; }

.paginated-schedule {
  clear: left; }

.schedule-column-header {
  float: left;
  text-align: center;
  width: 118px;
  font-weight: bold;
  border-left: 1px solid #919397;
  padding: 2px; }

.prepended-column-header {
  clear: left;
  border-left: none; }

.appended-column-header {
  border-left: none; }

#rules-conflicts {
  float: left;
  margin-left: 20px; }
