%tr
  %td= request.section_title
  - date = request.start_date
  %td= link_to date.to_s(:rfc822), schedule_physician_path(physician, :date => { :year => date.year, :month => date.month, :day => date.day })
  %td= request.status
