%tr
  %td= link_to weekly_schedule[:physician].full_name(:family_first), schedule_physician_path(weekly_schedule[:physician])
  = render :partial => "daily_shifts", :collection => weekly_schedule[:daily_shifts]
