%tr
  %td.date
    %span.date_value= date_row
    %span.date_string= short_date(date_row)
  = render :partial => 'day_shift', :locals => { :date => date_row, :mapped_assignments => mapped_assignments }, :collection => @shifts
