%td.shift_day{ :class => "date_#{shift_day} shift_id_#{shift.id}" }><
  %span.assignment_button
  = render :partial => 'assignment', :collection => (mapped_assignments[[shift.id, shift_day]] || []), :locals => { :shift => shift, :date => shift_day, :people_names => people_names }
