- page_title "Sections"

%h2 Sections

%ul
  - @sections.each do |section|
    %li= link_to section.title, weekly_section_schedule_path(section)

%br

%ul
  != nav_item "Add New Section", new_section_path, { :class => "button" }, :create, Section

