- page_title "Sections"

%h2 Sections

%table
  - @sections.each do |section|
    %tr.section
      %td= link_to section.title, weekly_section_schedule_path(section)
      - if can? :update, section
        %td= link_to t(:edit), edit_section_path(section)

%br

%ul
  != nav_item "Add New Section", new_section_path, { :class => "button" }, :create, Section

