- color = shift.display_color
- color = "#" + color if color
= image_tag('phone.jpg', :title => shift.phone) if shift.phone
%span{ :style => "color:#{color}" }><= "#{shift.title} (#{shift.duration})"
