%span{ :style => "color:#{shift[:color]}" }><= shift[:title]
= image_tag('phone.jpg', :title => shift[:phone], :class => "right") if shift[:phone]
= image_tag('pub-note.gif', :title => shift[:note], :class => "right") if shift[:note]
