<script id="shiftWeekRow" type="text/html">
    <div class="shift-week">
        <div class="shift-week-header">
            <span class="shift-title" data-bind="text: shift_title"></span>
            <input class="shift-week-note" name="shift_week_note" data-bind="value: shift_week_note.text, focus: function(event) { hideDefaultNote() }, blur: function(event) { showDefaultNote() }" />
        </div>
        <table class="schedule-grid">
            <tbody>
                <tr data-bind="template: { name: 'shiftDayCell', foreach: shift_days }"></tr>
            </tbody>
        </table>
    </div>
</script>
