@import "colors";

$scrollbarWidth: 16px;

$cellPaddingLeft: 2px;
$cellPaddingRight: 2px;
$cellBorderLeft: 1px;
$cellBorderRight: 1px;
$cellBaseWidth: 102px;
$cellTotalWidth: $cellBaseWidth + $cellPaddingLeft + $cellPaddingRight + $cellBorderLeft + $cellBorderRight;
$scheduleWidth: 9 * $cellTotalWidth + 2px;

$assignmentWidth: 90px;

.controls {
  h3, h4 {
    float: left;
    margin: 0;
    height: 38px;
    padding-top: 14px;
  }

  h4 {
    padding-top: 16px;
  }

  #date-selector {
    width: 8em;
  }
}

#schedule-wrapper {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 207px;
  bottom: 8px;
  left: 16px;
  border-bottom: 1px solid $mediumBackgroundColor;
  width: $scheduleWidth + $scrollbarWidth;
}

#schedule {
  width: $scheduleWidth
}

.physician-name {
  display: block;
  text-decoration: none;
}

.main-ui {
  -webkit-box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: -3px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.schedule-headers {
  border-top: 1px solid $mediumBackgroundColor;
  border-right: 1px solid $mediumBackgroundColor;
  border-bottom: 1px solid $mediumBackgroundColor;
  float: left;
  background-color: $tableHeaderBackgroundColor;
  margin-left: 2 * $cellTotalWidth - 2px;
}

.shift-title {
  font-weight: bold;
  padding-left: 0.5em;
  float: left;
  height: 16px;
}

.shift-week {
  float: left;
  border-bottom: 1px solid #999;
  background-color: #fffff6;
  color: $baseLinkColor;
}

.shift-week-header {
  float: left;
  width: 2 * $cellTotalWidth;
}

.shift-week-note {
  height: 16px;
  background-color: $oppositeTextColor;
  width: $cellBaseWidth - 5px;
  padding-left: 0.5em;
  color: $baseTextColor;
  float: right;
}

.schedule-grid {
  border: none;
  float: left;
}

.shiftDay {
  vertical-align: top;
  width: $cellBaseWidth;
  min-height: 2 * $baseLineHeight;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;

  &:first-child {
    border-left: 1px solid #ccc;
  }
}

.assignment {
  position: relative;
  cursor: pointer;
  width: $assignmentWidth;
  overflow: hidden;
  padding-left: 2px;

  span {
    font-weight: bold;
  }
}

.assignment-indicators {
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
}

.note-indicator {
  background-repeat: no-repeat;
  width: 14px;
  display: block;
  height: 16px;
  float: left;
}

.priNote {
  background-image: url("../images/pri-note.gif");
}

.pubNote {
  background-image: url("../images/pub-note.gif");
}

.pnpNote {
  background-image: url("../images/pnp-note.gif");
}

.duration-indicator {
  width: 13px;
}

#rules-conflicts-wrapper {
  position: absolute;
  left: 1028px;
  top: 114px;
  width: 250px;
  bottom: 5px;
}

#rules-conflicts {
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow-y: auto;
}
